---
layout: page
title: Graphviz Wish List
---
<P>
We list below various projects for the improvement of Graphviz. Some are simple feature additions.
Others require significant coding and understanding of Graphviz internals, while others are open
research problems. Consideration needs to be given to how a new feature interacts or combines with
current features. Please <a href="mailto:gviz_rqst@graphviz.org">contact us</a> for more details.

<hr align=left width=66>
<ul>
<li>
Extend the allowed edge styles.
<li>
Allow arrowheads in the middle of edges.
<li>
Allow rotated text.
<li>
Allow text to align along an edge.
<li>
Support single, uniform font descriptors &#224; la pango.
<li>
Move generic code, such node adjustment and spline routing, out of neato.
<li>
Remove antiquated code and replace multiple algorithm implementations with a single one.
<li>
Allow prohibition of ports or sides.
<li>
Provide a general graph editor/browser for Graphviz, allowing novice users to rely on widgets
to control attributes.
<li>
Combine the features of sfdp and fdp (e.g., clusters and fixed nodes).
<li>
Improve the mincross algorithm to better handle flat edges and edge weights.
<li>
Simplified mincross algorithm based on sifting, supporting clusters.
<li>
Implement swim lanes (nodes sharing x coordinate), possibly based on sifting.
<li>
Complete support for aspect ratios in dot. We currently have a simple algorithm, but it doesn't work with many other features.
Support aspect ratios < 1.
<li>
Allow maximum width contraints during layout.
<li>
Support orthogonal coalesced edges (e.g., <A HREF=http://upload.wikimedia.org/wikipedia/commons/7/74/Uml_diagram.svg>this</A>).
<li>
Extend Graphviz to handle compound graphs.
<li>
Provide simplified edge routing in dot using two dummy nodes.
<li>
Provide bundled edge routing in dot.
<li>
Allow user to provide levels, or levels plus ordering (no ranking or crossing minimization), and let dot finish
<li>
Allow edge routing with overlapping nodes.
<li>
Modify dot, twopi, etc. to allow incremental layouts.
<li>
Improve circo to allow tighter layouts and user control of clusters.
<li>
Fix current shape code to correctly handle non-convex shapes.
<li>
Provide a mechanism for users to define their own node shapes for nodes and edges.
<li>
Improve the routing of loops and, for dot, flat edges. Complete or replace the handling of flat edges between
adjacent nodes.
<li>
Improve the flexibility and placement of exterior labels. For example, allow the user to specify the preferred label
placement.
<li>
Add stack frames/local variables to gvpr.
<li>
Provide a collection of simple tree layouts.
<li>
Add new graph packing strategies.
<li>
Allow nodesep to be <A HREF="https://gitlab.com/graphviz/graphviz/issues/286">set within clusters</A>.
<li>
Allow ranksep to be an array of values in dot.
<li>
Allow mixed edge types within the same graph.
<li>
Allow varied rankdir values within clusters.
<li>
Allow varied layouts within clusters.
<li>
Improve the spline router, e.g., fewer inflection points.
<li>
Add an option of fast hierarchical layouts to dot.
<li>
Provide orthogonal layouts.
<li>
Add a new parallelogram shape where the angle is fixed for varying text.
<li>
Support rank=min/max within the context of a cluster.
<li>
Adjust graph to remove edge-node overlaps with line segment edges.
<li>
Re-implement tred (transitive reduction) to use a more efficient algorithm.
<li>
Write a replacement for smyrna/gvedit/dotty that provides a GUI interface for Graphviz. In addition
to the usual functions for viewing, the program should provide widgets for the easy altering of graph
attributes. There could also be an interface to the gvpr library, to create multiple views and modify a graph. Ideally,
the system could allow the user to easily tailor the interactions.
